<div>
  <h2 mat-dialog-title>Login</h2>
  <mat-dialog-content>
    <form #frm="ngForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" (keydown.enter)="onKey(frm)" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" (keydown.enter)="onKey(frm)" required>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button [disabled]="frm.invalid" type="button" (click)="onLoginConfirm()" color="primary">Login</button>
      <button mat-raised-button type="reset" color="warn">Clear</button>
    </mat-dialog-actions>
  </div>
